.footer {
    background-color: #2E2F42;
    padding-block: 100px;
}

.footer-logo,
.footer-description {
    color: #F4F4FD;
}

.footer-info {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    max-width: 264px;
    gap: 16px;
}

.footer-socials-title {
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.footer-socials-list {
    display: flex;
    column-gap: 16px;
}

.footer-socials { 
    max-width: 208px;
    display: flex;
    flex-direction: column;
}

.footer-socials-icon {
    fill: currentColor;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4FD;
}

.footer-socials-link:hover,
.footer-socials-link:focus
 {
    background-color: #31D0AA;
}

.footer-subscribe {
    margin-left: auto;
    max-width: 453px;
}

.footer-form {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.footer-form-input {
    outline: none;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
    color: #FFFFFF;
}

.footer-form-input::placeholder {
    font-size: 12px;
    color: #FFFFFF;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram-icon {
    fill: currentColor;
}

.subscribe-button:hover,
.subscribe-button:focus
{
    background-color: #31D0AA;
}

.footer-form-input:focus {
    border-color: #31D0AA;
}