.portfolio-title {
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    margin-bottom: 8px;
    color: #2E2F42;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.portfolio-item {
    margin-inline: auto;
    flex-basis: 100%;
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        flex-basis: 356px;
    }
}

@media (min-width: 1158px) {
    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3)
    }

    .portfolio-list {
        row-gap: 48px;
    }
}

.portfolio-wrapper {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-item:hover {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    inset: 0;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px 40px;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}